<h1>La Commedia come piace a noi!</h1>

<section id="commedia">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Qualcosa di Leggero</h3>

        <div class="movie-row">

            <div class="movie-card" *ngFor="let film of filmCommedia">
                <div class="card bg-dark text-white border-0">

                    <img [src]="film.img" class="card-img-top" [alt]="film.titolo">

                    <div class="card-body p-0 pt-2">
                        <p class="card-text">{{ film.titolo }}</p>
                    </div>

                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                        <span>Riproduci</span>
                    </button>

                    <div class="extra-info">
                        {{ film.anno }} • {{ film.genere }} <br>
                        Voto: {{ film.voto }}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="commediaItaliana">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Commedia all'Italiana</h3>

        <div class="movie-row">

            <div class="movie-card" *ngFor="let film of filmCommedia">
                <div class="card bg-dark text-white border-0">

                    <img [src]="film.img" class="card-img-top" [alt]="film.titolo">

                    <div class="card-body p-0 pt-2">
                        <p class="card-text">{{ film.titolo }}</p>
                    </div>

                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                        <span>Riproduci</span>
                    </button>

                    <div class="extra-info">
                        {{ film.anno }} • {{ film.genere }} <br>
                        Voto: {{ film.voto }}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<section id="internazionaleCommedia">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Oscar, Emmy, Tony o Grammy?</h3>

        <div class="movie-row">

            <div class="movie-card" *ngFor="let film of filmCommedia">
                <div class="card bg-dark text-white border-0">

                    <img [src]="film.img" class="card-img-top" [alt]="film.titolo">

                    <div class="card-body p-0 pt-2">
                        <p class="card-text">{{ film.titolo }}</p>
                    </div>

                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                        <span>Riproduci</span>
                    </button>

                    <div class="extra-info">
                        {{ film.anno }} • {{ film.genere }} <br>
                        Voto: {{ film.voto }}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>