<h1>Almeno un sorriso al giorno!</h1>

<!--  FILM COMMEDIA -->
<section>
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Comicità in 100 minuti... o più!</h3>

        <div class="movie-row">
            <app-movie-card *ngFor="let film of filmCommedia" [contenuto]="film">
            </app-movie-card>
        </div>
    </div>
</section>

<!--  SERIE COMMEDIA -->
<section>
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Non smetterai di ridere. Serata Chill oppure Confort zone?</h3>

        <div class="movie-row">
            <app-movie-card *ngFor="let serie of serieCommedia" [contenuto]="serie">
            </app-movie-card>
        </div>
    </div>
</section>