<ng-template #pagamentiModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Gestione Pagamenti</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Utente</th>
                    <th>Data</th>
                    <th>Importo</th>
                    <th>Metodo</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mario Rossi</td>
                    <td>10/02/2026</td>
                    <td>9.99€</td>
                    <td>PayPal</td>
                    <td>
                        <button class="btn btn-sm btn-info">Modifica</button>
                        <button class="btn btn-sm btn-danger">Elimina</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>