<div class="movie-card">
    <div class="card bg-dark text-white border-0">

        <img [src]="getImage()" class="card-img-top">

        <div class="card-body p-0 pt-2">
            <p class="card-text">{{ serie.titolo }}</p>
        </div>

        <button class="play-btn">
            <i class="fa fa-play"></i>
            <span>Riproduci</span>
        </button>

        <div class="extra-info">
            {{ getAnno() }} • {{ serie.genere }} <br>
            Stagioni: {{ serie.stagioni || 0 }}
        </div>

    </div>
</div>