<h1>Catalogo Film</h1>

<!-- CONTINUA A GUARDARE -->
<section *ngIf="filmNonFiniti.length">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Continua a guardare</h3>

        <div class="movie-row">
            <app-movie-card *ngFor="let film of filmNonFiniti" [contenuto]="film">
            </app-movie-card>
        </div>
    </div>
</section>

<!-- PREFERITI -->
<section *ngIf="filmListPref.length">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">La tua lista</h3>

        <div class="movie-row">
            <app-movie-card *ngFor="let film of filmListPref" [contenuto]="film">
            </app-movie-card>
        </div>
    </div>
</section>

<!-- CONSIGLIATI -->
<section *ngIf="filmConsigliati.length">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Consigliati</h3>

        <div class="movie-row">
            <app-movie-card *ngFor="let film of filmConsigliati" [contenuto]="film">
            </app-movie-card>
        </div>
    </div>
</section>

<!-- CATEGORIE DINAMICHE -->
<section *ngFor="let cat of categorieFilm">

    <div class="container-fluid my-4">

        <h3 class="text-white mb-3">
            Film {{ cat.nome }}
        </h3>

        <div class="movie-row">

            <app-movie-card *ngFor="let film of cat.lista" [contenuto]="film">
            </app-movie-card>

        </div>

    </div>

</section>

<section *ngIf="film.length">

    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Tutti i film</h3>

        <div class="movie-row">
            <app-movie-card *ngFor="let film of film" [contenuto]="film">
            </app-movie-card>
        </div>

    </div>

</section>

<router-outlet></router-outlet>