.page-bg {
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*  OVERLAY SCURO */
.page-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* CONTENUTO SOPRA */
.page-bg>* {
    position: relative;
    z-index: 2;
}

.registration-wrapper {
    max-width: 650px;
    margin: 0 auto; // centrato verticalmente
    padding: 30px;
    background: rgba(94, 94, 94, 0.65);
    border-radius: 16px;
    color: white;
    position: relative;
    overflow: hidden;
}



.step-container {
    position: relative;
    overflow: hidden;
    transition: height 0.35s ease;
}

/* STEP CARDS ANIMATE */
.step-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(60px);
    transition: all 0.45s ease;
    pointer-events: none;
}

.step-card.active {
    position: relative;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.step-card.exit-left {
    opacity: 0;
    transform: translateX(-60px);
}

.step-card.exit-right {
    opacity: 0;
    transform: translateX(60px);
}

.invalid-feedback {
    display: block;
    color: #ff6b6b;
}

@media (max-width: 768px) {
    .registration-wrapper {
        padding: 20px;
    }
}

.intestazione {
    color: rgb(255, 255, 255);
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}