<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col">F.A.Q<br>Privacy<br>Termini<br>Cookies</div>
            <div class="col">Contattaci<br>Lavora con noi<br>Info su CodeX</div>
            <div class="col">
                Seguici:<br>
                <fa-icon [icon]="faFacebook" class="me-2"></fa-icon> Facebook<br>
                <fa-icon [icon]="faTwitter" class="me-2"></fa-icon> Twitter<br>
                <fa-icon [icon]="faInstagram" class="me-2"></fa-icon> Instagram<br>

            </div>
        </div>
        <p class="mt-2">© 2025 CodeX. Tutti i diritti riservati.</p>
    </div>
</footer>