footer {
    background-color: #212121;
    color: white;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#row,
.row {
    color: #929090;
}