<h1>Film Drammatici</h1>

<section id="filmdrammatici">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Il puro dramma all'Italiana</h3>

        <div class="movie-row">

            <div class="movie-card" *ngFor="let film of filmDrammatici">
                <div class="card bg-dark text-white border-0">

                    <img [src]="film.img" class="card-img-top" [alt]="film.titolo">

                    <div class="card-body p-0 pt-2">
                        <p class="card-text">{{ film.titolo }}</p>
                    </div>

                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                        <span>Riproduci</span>
                    </button>

                    <div class="extra-info">
                        {{ film.anno }} • {{ film.genere }} <br>
                        Voto: {{ film.voto }}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="dramahappy">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Drammatico a Lieto Fine</h3>

        <div class="movie-row">

            <div class="movie-card" *ngFor="let film of filmDrammatici">
                <div class="card bg-dark text-white border-0">

                    <img [src]="film.img" class="card-img-top" [alt]="film.titolo">

                    <div class="card-body p-0 pt-2">
                        <p class="card-text">{{ film.titolo }}</p>
                    </div>

                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                        <span>Riproduci</span>
                    </button>

                    <div class="extra-info">
                        {{ film.anno }} • {{ film.genere }} <br>
                        Voto: {{ film.voto }}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<section id="Drammatico da Oscar">
    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Drammatico da Oscar</h3>

        <div class="movie-row">

            <div class="movie-card" *ngFor="let film of filmDrammatici">
                <div class="card bg-dark text-white border-0">

                    <img [src]="film.img" class="card-img-top" [alt]="film.titolo">

                    <div class="card-body p-0 pt-2">
                        <p class="card-text">{{ film.titolo }}</p>
                    </div>

                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                        <span>Riproduci</span>
                    </button>

                    <div class="extra-info">
                        {{ film.anno }} • {{ film.genere }} <br>
                        Voto: {{ film.voto }}
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>