/* TABELLE ADMIN DASHBOARD */


.custom-table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: #343a40;
        color: #fff;

        th {
            font-weight: 600;
            padding: 12px;
        }
    }

    tbody {


        tr {
            transition: all 0.2s ease;

            td {
                padding: 10px;
                vertical-align: middle;
            }
        }

        tr:nth-child(even) {
            background-color: #f8f9fa;
        }


        tr:hover {
            background-color: #d6d8db !important;
            cursor: pointer;
            transform: scale(1.01);
        }

        tr:hover td {
            background-color: #d6d8db !important;
        }
    }
}


/* SCROLL AREA */

div[style*="overflow-y: auto"] {
    scrollbar-width: thin;
}

.btn-outline-violet {
    border: 1px solid #a855f7;
    color: #a855f7;
}

.btn-outline-violet:hover,
.btn-outline-violet.active {
    background: #a855f7;
    color: white;
}