<section>
    <div id="carouselExampleCaptions" class="carousel slide custom-carousel">

        <div class="carousel-indicators">
            <button *ngFor="let item of carousel; let i = index" type="button" data-bs-target="#carouselExampleCaptions"
                [attr.data-bs-slide-to]="i" [class.active]="i === 0">
            </button>
        </div>

        <div class="carousel-inner">

            <div *ngFor="let item of carousel; let i = index" class="carousel-item" [class.active]="i === 0">

                <img [src]="storageUrl + item.locandina">

                <div class="carousel-overlay"></div>

                <div class="carousel-caption custom-caption">
                    <h2>{{ item.titolo }}</h2>
                    <p>{{ item.descrizione }}</p>
                </div>

            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
        </button>

    </div>
</section>


<section>
    <section id="continuaaguardare">

        <h2 class="m-3">Continua a guardare...</h2>

        <div class="row p-2 g-lg-5 g-3">

            <div class="col-12 col-sm-6 col-lg-3" *ngFor="let item of continua">

                <app-movie-card [contenuto]="item"></app-movie-card>

            </div>

        </div>

    </section>
</section>


<section>

    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Consigliati</h3>

        <div class="d-flex flex-row flex-nowrap overflow-auto movie-row">

            <app-movie-card *ngFor="let item of consigliati" [contenuto]="item">
            </app-movie-card>

        </div>

    </div>

</section>


<section>

    <div class="container-fluid my-4">
        <h3 class="text-white mb-3">Nuove uscite</h3>

        <div class="d-flex flex-row flex-nowrap overflow-auto movie-row">

            <app-movie-card *ngFor="let item of nuoveUscite" [contenuto]="item">
            </app-movie-card>

        </div>

    </div>

</section>