<header class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <!-- Toggler per mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <!-- Logo -->
                <a class="navbar-brand" [routerLink]="['/']">
                    <img src="assets/img/logocode.png" alt="Logo" width="160" class="d-inline-block align-text-top"
                        title="Vai alla Home Page">
                </a>

                <!-- Menu principale -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/film']" title="Vai alla pagina dei Film">Film</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/serietv']" title="Vai alla pagina delle Serie TV">Serie
                            TV</a>
                    </li>

                    <!-- Dropdown Categorie -->
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#" title="Categorie">Categorie</a>
                        <ul class="dropdown-menu dropdown-menu-dark" ngbDropdownMenu>
                            <li><a class="dropdown-item" [routerLink]="['/film/horror']">Horror</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/film/fantasy']">Fantasy</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/film/fantascienza']">Fantascienza</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/film/drammatico']">Drammatico</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/film/commedia']">Commedia</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/film/documentario']">Documentario</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/film/animazione']">Animazione</a></li>
                        </ul>
                    </li>

                </ul>

                <!-- Dropdown Profilo -->
                <ul class="navbar-nav d-flex">
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#" title="Profilo"
                            style="font-size: 24px;">
                            <fa-icon [icon]="faUser"></fa-icon> Profilo
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" ngbDropdownMenu>
                            <li><a class="dropdown-item" [routerLink]="['/datipersonali']">Visualizza Profilo</a></li>
                            <li><a class="dropdown-item" [routerLink]="['/']">Esci</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>