<ng-template #filmModalContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Gestione Film</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <button class="btn btn-primary mb-3">Carica Nuovo Film</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Genere</th>
                    <th>Durata</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Film di esempio</td>
                    <td>Azione</td>
                    <td>120 min</td>
                    <td>
                        <button class="btn btn-sm btn-info">Modifica</button>
                        <button class="btn btn-sm btn-danger">Elimina</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>